//ここにスタイルを記述する

.bba-profile-top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .bba-profile-image {
    .bba-profile-image-photo {
      //  画像をまるくする
      border-radius: 50%;
      //width: 100px;
      //height: 100px;
      margin-right: 20px;
    }
  }


  .bba-profile-name {
    flex-grow: 1;

    .bba-profile-kana {
      font-size: 0.8em;
      line-height: 1em;
    }

    .bba-profile-fullname {
      font-size: 1.5em;
      line-height: 1.5em;
      text-align: left;
    }

    .bba-profile-catch-copy {
      font-size: 0.8em;
      line-height: 1.2em;
    }

    .bba-bis-info {
      display: inline-block;
      padding: 10px;
      //margin-top: 10px;
      //margin-right: 10px;
      border-radius: 5px;
      background-color: #C3E9FAFF;

      p {
        font-size: 0.8em;
        line-height: 0.8em;
      }
    }

    .sns-link {
      margin-top: 10px;

      a:hover {
        text-decoration: none;
      }

      i {
        font-size: 3em;
        margin-right: 10px;
      }
    }

  }

  .bba-profile-right {

    .bba-profile-friends {
      margin-bottom: 10px;

      h3 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .bba-profile-friends-list {

        display: flex;

        a {
          text-decoration: none;

          .bba-profile-friend-image {
            display: inline-block;
            border-radius: 50%;
            //width: 50px;
            //height: 50px;
            margin-right: 2px;
            border: 2px solid #ddd;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
        }


      }


    }

    .bba-profile-edit {
      //flex-grow: 1;
      a.bba-profile-edit-link {
        font-size: 0.8em;
      }
    }
  }

}

.bba-profile-info {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      margin-right: 10px;
      margin-bottom: 0;

      .bba-profile-info-label {
        display: block;
        font-size: 0.7em;
        //width: 100px;
        //font-weight: bold;
      }

      .bba-profile-info-value {
        display: block;

        a {
          font-size: 1em;
        }
      }
    }
  }
}


.bba-community-new-post {
  padding: 0;
  border: 2px solid #ddd;
  border-radius: 15px;
  margin-bottom: 40px;


  .bba-community-new-post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 15px 15px 0 0;


    .bba-community-new-post-user-icon {
      .bba-post-user-icon {
        border-radius: 50%;
        //width: 50px;
        //height: 50px;
        margin-right: 10px;
      }
    }

    .bba-community-new-post-header-name {
      flex-grow: 1;

      h4 {
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        font-weight: bold;
      }

      p {
        font-size: 0.7em;
        line-height: 0.7em;
      }
    }
  }

  .bba-community-new-post-body {
    padding: 10px 20px 10px 30px;

    .ty-control-group__title {
      display: none;
    }

    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 5px;
      font-size: 0.8em;
    }
  }

  .bba-community-new-post-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #efefef;
    border-radius: 0 0 15px 15px;

    .buttons-container {
      background-color: inherit;

      .ty-btn__secondary.bba-community-new-post-btn {
        width: inherit !important;
        margin-bottom: 0;
      }
    }
  }

}


.bba-community-posts {
  .bba-community-post {
    margin-bottom: 40px;
    padding: 0;
    border: 2px solid #ddd;
    border-radius: 15px;

    .bba-community-post-header {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #eee;
      border-radius: 15px 15px 0 0;

      .bba-community-post-user-icon {
        .bba-post-user-icon {
          border-radius: 50%;
          //width: 50px;
          //height: 50px;
          margin-right: 10px;
        }
      }

      .bba-community-post-header-name {
        flex-grow: 1;

        h4 {
          font-size: 1em;
          line-height: 1em;
          margin: 0;
          font-weight: bold;
        }

        p {
          font-size: 0.7em;
          line-height: 0.7em;
        }
      }
    }

    .bba-community-post-body {
      //margin-top: 10px;
      //margin-bottom: 10px;
      padding: 20px 20px 30px;

      .bba-community-post-ogp-info {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        a {
          display: block;
          text-decoration: none;

          .bba-community-post-ogp-image {
            display: block;
            width: 100%;
            height: auto;
          }

          .bba-community-ogp-title {
            font-size: 0.9em;
            line-height: 1.2em;
            font-weight: bold;
            margin-top: 10px;
            //margin-bottom: 10px;
          }

          .bba-community-ogp-description {
            font-size: 0.8em;
            line-height: 1.4em;
            //margin-bottom: 10px;
          }
        }

        a:hover {
          text-decoration: none;
        }
      }


      .bba-community-post-article,
      .bba-community-post-article a {
        font-size: 14px;
        line-height: 2em;
        letter-spacing: 0.2em;
        word-break: break-all;
      }
    }

    .bba-community-post-footer {

      padding: 10px;
      background-color: #efefef;
      border-radius: 0 0 15px 15px;

      .bba-community-post-control {
        display: flex;
        justify-content: flex-end;
        align-items: center;


        .bba-community-post-footer-like,
        .bba-community-post-footer-comment {
          padding-left: 10px;

          .bba-community-post-like-btn:hover,
          .bba-community-post-comment-btn:hover {
            text-decoration: none;
          }

          span {
            margin-left: 5px;
            font-size: 0.8em;
          }
        }
      }


      .bba-community-post-comment-list {
        //background-color: #fff;
        padding: 10px;

        .bba-community-post-comment-item {
          display: flex;
          margin-bottom: 30px;

          .bba-community-post-comment-item-user-icon {
            padding-right: 16px;

            img {
              display: block;
              min-width: 50px;
              min-height: 50px;
              border-radius: 50%;
            }
          }

          .bba-community-post-comment-item-body {
            flex-grow: 1;


            .bba-community-post-comment-article {
              background-color: #fff;
              border-radius: 10px;
              padding: 10px;
              margin-bottom: 5px;

              h4 {
                font-size: 0.8em;
                line-height: 1em;
                margin: 0;
                font-weight: bold;

                a {
                  font-weight: bold;
                }
              }

              p {
                font-size: 0.8em;
                line-height: 1.5em;
              }
            }

            .bba-community-post-comment-timestamp {
              font-size: 0.7em;
              line-height: 1em;
              color: #999;
            }
          }
        }

        .bba-community-post-comment-item.not-my-comment {
          .bba-community-post-comment-item-user-icon {
            order: 2;
            padding-right: 0;
            padding-left: 16px;
          }
        }
      }


      .bba-community-post-comment {
        display: none;

        .bba-community-comment-form {
          display: flex;
          align-items: center;
          //position: relative;
          //padding: 10px;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 5px;

          .ty-control-group {
            flex-grow: 1;
            margin: 0 !important;

            .bba-community-post-comment-form-title {
              display: none;
            }

            .bba-community-post-comment-textarea {
              width: 100%;
              height: 80px;
              border: none;
            }
          }

          .bba-community-post-comment-form-btn {
            padding-right: 10px;

            //position: absolute;
            //right: 0;
            //bottom: 0;
          }
        }
      }

      .bba-community-post-comment.open {
        display: block;
      }
    }
  }
}

.bba-com-profile {

  .ty-subheader {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
  }


  .bba-community-images {
    display: flex;

    .bba-community-image {

    }
  }

  .community-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ty-fileuploader__file-local.upload-file-local {
    display: inline-block;
    background-color: #f6d775;
    border: 2px solid #757575;
    border-radius: 5px;
    padding: 10px;
  }
}

